//@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

//must set to same values at top of js
$childDtSize: 140px;
$currentDtSize: 210px;
$parentDtSize: 100px;
$currentDtTopMargin: 0.2;
$currentDdVertOffset: 0.48;

$wider-than-phone: "(min-width: 600px)";
$orange: #fc5300;
$clickableNode: $orange;
$offWhite: #ffffff;
$veryVeryDarkGray: #222222;
$bgGrey: #666666;
$relborderRadius: 1;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin shown-dt($diameter, $heightFromTop) {  //governs appearance of visible nodes
  @include border-radius($diameter*$relborderRadius);
  display:block;
  color:$offWhite;
  text-align:left;
  padding-left:($diameter*0.1);
  width:($diameter*0.9);
  padding-top:($diameter*$heightFromTop);
  height:($diameter*(1-$heightFromTop));
}

@mixin traverse-transition($traverseTime) {  //when moving between nodes
  transition-property: padding-top, height, width, top, left, background-color, font-size, border-radius;
  transition-duration: $traverseTime, $traverseTime, $traverseTime, $traverseTime, $traverseTime, $traverseTime, $traverseTime, $traverseTime;
}

body {
  margin:0;
  color:$veryVeryDarkGray;
  background-color:$offWhite*0.9;
  font-family:'Lato',arial,sans,sans-serif;
}  

a {
  color:inherit;
  &:hover {
    text-decoration: none;
  }
}

header, footer {
  margin:0.5em;
}

noscript {
  display:block;
}

button {
  background-color:$clickableNode;
  color:$offWhite;
  border:1px solid $clickableNode*2;
  border-radius:0.4em;
  padding:0.2em;
  cursor:pointer;
  &:disabled {
    background-color:$bgGrey*1.4;
    border-color:$bgGrey*2;
    color:$bgGrey*2;
    cursor:default;
  }
  transition-property: background-color, border-color, color;
  transition-duration: 0.8s, 0.8s, 0.8s;

}

#nav-article {
  position:relative;
  padding:20px;
  background-color:$offWhite*0.83;
  transition-property: height;
  transition-duration: 0.8s;

  & dl {
    position:absolute;
    top:0;
    left:0;
    margin:0;
  }

  & dl.top {
    left:50%;
    margin-left:-(($currentDtSize+$childDtSize)/2);
  }

  & dt {
    position:absolute;
    @include traverse-transition(1s);
    font-weight:600;
    visibility:hidden;
    margin:0;
    top:0;
    left:0;
  }

  & dd {
    font-size:1em;
    position:absolute;
    @include traverse-transition(1s);
    visibility:hidden;
    margin:0;
    z-index:100;
    text-align:left;
    color:$offWhite;
    width:$childDtSize;
    top:0;
    left:0;
    padding-left:0.5em;
    margin-right:1em;
  }

  & dt.current-node {
    visibility:visible;
    @include shown-dt($currentDtSize, 0.4);
    background-color:$bgGrey;
    border: 1px solid $bgGrey*1.4;
    top:$currentDtSize*$currentDtTopMargin;
    left:$currentDtSize*0.1;
    z-index:40;
    font-size:2em;
  }

  & dt.current-node + dd {
    visibility:visible;
    top:$currentDtSize*($currentDtTopMargin+$currentDdVertOffset+0.1);
    //issue here
    left:$currentDtSize*0.15;
    width:$currentDtSize*0.8;

  }

  & dt.parent-node {
    visibility:visible;
    @include shown-dt($parentDtSize, 0.3);
    cursor:pointer;
    background-color:$clickableNode;
    border: 1px solid $clickableNode*1.1;
    position:absolute;
    top:0;
    left:0;
    @media #{$wider-than-phone} {
      left: -$parentDtSize/4;
    }

  }

  & dt.parent-node + dd {
    top:$childDtSize*0.4;
    left:0;

    cursor:pointer;
  }

  & dt.child-node {
    left:$childDtSize;
    @media #{$wider-than-phone} {
      left: $parentDtSize*2;
    }
    @include shown-dt($childDtSize, 0.3);
    background-color:$clickableNode;
    cursor:pointer;
    border:1px solid $clickableNode*2;
    visibility:visible;
    z-index:150;
  }

  & dt.child-node + dd {
    left:$childDtSize;
    @media #{$wider-than-phone} {
      left: $parentDtSize*2;
    }
    visibility:visible;
    display:inline-block;
    z-index:200;
    cursor:pointer;
  }

  & dt.leaf-node, dt.leaf-node + dd {
    cursor:default;
  }
}
  
article.no-js {  //if js disabled
  & * {
  position:relative;
  display:default;
  visibility:visible;
  }
  & dt, & dd {
  color:$veryVeryDarkGray;
  }
  & dd {
    padding-left: 2em;
  }
}

header.no-js {
  display:none;
}

button.no-js {
  display:none;
}
